{%- set theme_config = attribute(config.themes, config.system.pages.theme) -%}
{%- block stylesheets -%}
    {% do assets.addCss('theme://css/template.css', 100) %}
{%- endblock -%}
<!--
    _____ _____ ____    ____   ___  _    _   _ _____ ___ ___  _   _ ____
   | ____|_   _|  _ \  / ___| / _ \| |  | | | |_   _|_ _/ _ \| \ | / ___|
B  |  _|   | | | | | | \___ \| | | | |  | | | | | |  | | | | |  \| \___ \
Y  | |___  | | | |_| |  ___) | |_| | |__| |_| | | |  | | |_| | |\  |___) |
   |_____| |_| |____/  |____/ \___/|_____\___/  |_| |___\___/|_| \_|____/
-->
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'partials/metadata.html.twig' %}
        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
        <link rel="apple-touch-icon" href="{{ url('theme://images/logo.png') }}">
        <link rel="canonical" href="{{ page.url(true, true) }}" />

        {% block head_assets %}
            {{- assets.css('head') -}}
            {{- assets.js('head') -}}
        {% endblock %}

    {% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

{% block navbar %}
    <nav id="menu" class="navbar navbar-expand-lg navbar-light bg-light">
        {% block navigation %}
            <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbar">
                {%- include 'partials/navigation.html.twig' -%}
            </div>
        {% endblock %}
    </nav>
{% endblock %}

{% block header %}
    <div class="header">
    </div>
{% endblock %}

{% block body %}
    <main id="body">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' ignore missing %}
{% endblock %}

{% block bottom %}
    {%- block javascripts -%}
        {% do assets.addJs('jquery', {'priority': 100, 'group': 'bottom'}) %}
        {% do assets.addJs('popper', {'priority': 99, 'group': 'bottom'}) %}
        {% do assets.addJs('theme://js/template.js', {'priority': 50, 'group': 'bottom'}) %}
    {%- endblock -%}
    {{- assets.js('bottom') -}}
{% endblock %}

</body>
</html>
